[alias]
        co = checkout
        ci = commit
        br = branch
        st = status
        up = add -u
        df = diff
        dfc = diff --cached
        sub = submodule
[diff]
        tool = vimdiff
[core]
        pager = less -F -X
        editor = vim
